html, body {
    height: 100%;
}

.box {
    max-width: 1024px;
}

td > img {
    display: block;
    max-width: 100%;
    width: 76px;
}
.wrap {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.remove-item {
    cursor: pointer;
    background-color: red;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex-w {
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
}

.flex-item {
    margin: 10px 5px;
    display: block;
}

.flex-column {
    flex-direction: column;
}

.check {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.check input[type=checkbox] {
    display: none;
}

.check label {
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #2c6086;
    border-radius: 7px;
    margin: 5px;
    cursor: pointer;
    flex: 1 1 0;
}

.check input[type=checkbox]:checked + label {
    background-color: #d23232;
}

body.login {
    background: url("/web_assets/images/login-bg.jpg") no-repeat 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
}

body.cash {
    background: url("/web_assets/images/login-bg.jpg") no-repeat 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
}

body.login .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

body.login .site-login {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.61);
    border-radius: 5px;
}

.site-login h1 {
    margin-bottom: 20px;
}

#login-form .form-group {
    display: flex;
}

body.index {
    background: url("/web_assets/images/main-bg.jpg") no-repeat 50% 0;
    -webkit-background-size: cover;
    background-size: cover;
    height: calc(100vh - 60px);
}

#main-nav {
    height: 90px;
    background: url("/web_assets/images/main-bg.jpg") no-repeat 50% 0;
    -webkit-background-size: cover;
    background-size: cover;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

.navbar-brand {
    display: block;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
    line-height: 30px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    display: block;
    background-color: #fff;
}

#user-nav {
    font-size: 22px;
    font-weight: bold;
}

#user-nav li {
    margin-right: 5px;
}

#user-nav a {
    background-color: #fff;
    border-radius: 5px;
}

body.operation-buy {
    background: url("/web_assets/images/main-bg.jpg") no-repeat 50% 0;
    -webkit-background-size: cover;
    background-size: 150%;
    height: auto;
}

div#buy {
    margin-top: 105px;
}

body.operation-sell {
    background: url("/web_assets/images/main-bg.jpg") no-repeat 50% 0;
    -webkit-background-size: cover;
    background-size: cover;
    height: calc(100vh - 60px);
}

body.operation-sell .wrap {
    display: block;
}

.sell {
    padding-top: 110px;
}

.pricelist-title {
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 5px #000;
}

.operation-btn {
    display: block;
    padding: 60px 140px 60px 40px;
    background-color: #fff;
    border-radius: 160px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12rem;
    margin: 20px;
    position: relative;
    flex: 1 1 0;
    border: 10px solid #eee;;
}

.operation-btn:visited, .operation-btn:hover, .operation-btn:focus, .operation-btn:active {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.operation-btn:after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    background: url('/web_assets/images/arrow-down.svg') no-repeat 50% 50%;
}

.operation-btn:nth-child(2):after {
    background: url('/web_assets/images/arrow-up.svg') no-repeat 50% 50%;
}

.site-index {
    /*padding-top: 50px;*/
}

.site-index .flex {
    align-items: center;
}

a.product-btn {
    display: block;
    color: #000000;
    background-color: #fff;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
    width: 100%;
    height: 78%;
    text-align: center;
    overflow: hidden;
    border: 3px solid #eee;
    line-height: 64px;
}

a.product-btn:active, a.product-btn:focus, a.product-btn:visited, a.product-btn:hover {
    color: #000000;
    background-color: #fff;
    text-decoration: none;
}

form#fill-cash-form, form#rest-cash-form {
    background-color: #eee;
    padding: 10px 40px;
    border-radius: 5px;
}